<h3>Tasks</h3>

{{#link-to 'task.new'}} Create New Task {{/link-to}}
<hr>
{{outlet}}

<ul class="tasks list-group">
  {{#each model as |t| }}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="font-italic text-muted">created {{format_date t.created_at}}</span>
      <h6 class="task-title">{{ t.title }}</h6>
      <span class="badge badge-info">Due {{due_date t.due_date}}</span>
      {{#link-to 'task.edit' t.id}}<span class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></span>{{/link-to}}
      <button type="submit" {{action 'deleteTask' t.id on='click'}}>
      <span class="fa fa-trash fa-lg" aria-hidden="true"></span>
    </button>
    </li>
  {{/each}}
</ul>
